<!DOCTYPE html>
<html ng-app="web-shop" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags for BootStrap-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Продукты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="js/index.js"></script>
</head>

<div th:replace="~{fragments/header::header}">Header</div>

<body>
<div class="container mt-15 mb-15" ng-controller="productController">
    <!--Modal-->
    <div class="modal fade" id="modalFormProduct" tabindex="-1" role="dialog" aria-labelledby="createEvent" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProduct">Edit product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="saveProduct()" ng-model-options="{ updateOn: 'blur', allowInvalid: true, debounce: 200 }">
                        <div class="form-group">
                            <label for="inputId" class="col-form-label">ID:</label>
                            <input readonly type="number" class="form-control" ng-value="modalProduct.id" ng-model="modalProduct.id" name="id" id="inputId" aria-describedby="titleHelp"/>
                        </div>
                        <div class="form-group">
                            <label for="inputTitle" class="col-form-label">Title:</label>
                            <input required type="text" class="form-control" maxlength="25" ng-value="modalProduct.title" ng-model="modalProduct.title" id="inputTitle" aria-describedby="titleHelp"/>
                        </div>
                        <div class="form-group">
                            <label for="inputPrice" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" ng-value="modalProduct.price" ng-model="modalProduct.price" id="inputPrice" aria-describedby="priceHelp" />
                        </div>
                        <div class="form-group">
                            <label for="inputPrice" class="col-form-label">Categories:</label>
                                <ul>
                                    <div ng-repeat="mP in modalProduct.categories">
                                        <li>{{mP.name}}</li>
                                    </div>
                                </ul>
                            <label for="inputPrice" class="col-form-label">Add category:</label>
                            <input list="categories">
                                <datalist id="categories">
                                    <div ng-repeat="mP in categories">
                                        <option ng-value="mP.name"></option>
                                    </div>
                                </datalist>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="submit" class="btn btn-primary">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <h1>Продукты</h1>

    <div class="container-fluid">
        <h5>Поиск</h5>
        <form action="#" th:action="@{/product}">
            <div class="row justify-content-start">
                <div class="col-2">
                    <p>min price</p><input type="number" th:value="${minPrice}" name="minPrice"/>
                </div>
                <div class="col-2">
                    <p>max price</p><input type="number" th:value="${maxPrice}" name="maxPrice"/>
                </div>
                <div class="col-2">
                    <p>Наименование</p><input type="text" th:value="${title}" name="title"/>
                </div>
                <div class="col-sm">
                    <p>Применить</p><input type="submit" value="Применить"/>
                </div>
            </div>
        </form>
    </div>

        <div class="d-flex row mt-5 mb-5" >
            <div ng-repeat="product in products" class="card mr-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.id}}</h5>
                        <h5 class="card-title">{{product.title}}</h5>
                        <p  class="card-text">Цена: {{product.price}} руб.</p>
                        <div class="row justify-content" sec:authorize="isAuthenticated()">
                            <button class="btn btn-primary" ng-click="addToCart(product)">В корзину</button>
                        </div>
                        <div class="row justify-content" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                            <button type="button" role="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#modalFormProduct"
                                    id="modalProductForm" style="cursor: pointer"
                                    data-product-id="{{product.id}}" data-product-title="{{product.title}}"
                                    data-product-price="{{product.price}}">Редактировать</button>
                            <a sec:authorize="hasRole('ADMIN')" href="#" th:href="@{product/delete(id=${product.id})}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
            </div>
        </div>

    <div class="row justify-content" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
        <a href="#" th:href="@{product/form}" class="btn btn-primary" >Добавить продукт</a>
    </div>
    <div class="alert alert-info" role="alert" sec:authorize="isAuthenticated()">
        <a th:href="@{/cart(userName=${userName})}" class="alert-link">Корзина</a>
    </div>

    <p>Навигация</p>
    <ol>
        <li><a href="category/list" th:href="@{/category/list}">Категории продуктов</a></li>
    </ol>

    <ul class="row">
        <tr th:if="${page.totalPages > 1}" class="pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/product(pageNum=${pageNumber})}"
               th:text="${'-' + pageNumber}"
               th:class="${pageNumber==page.number} ? active"></a>
        </tr>
    </ul>

    <div th:replace="~{fragments/footer::footer}">
        Footer
    </div>
</div>
<!-- Required js scripts for BootStrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>