<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags for BootStrap-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Продукты</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container mt-15 mb-15">
    <div th:replace="~{fragments/header::header}">Header</div>
    <h1>Продукты</h1>

    <div class="container-fluid">
        <h5>Поиск</h5>
        <form action="#" th:action="@{/templates/product}">
            <div class="row justify-content-start">
                <div class="col-2">
                    <p>min price</p><input type="number" th:value="${minPrice}" name="minPrice"/>
                </div>
                <div class="col-2">
                    <p>max price</p><input type="number" th:value="${maxPrice}" name="maxPrice"/>
                </div>
                <div class="col-2">
                    <p>Наименование</p><input type="text" th:value="${title}" name="title"/>
                </div>
                <div class="col-sm">
                    <p>Применить</p><input type="submit" value="Применить"/>
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex row mt-5 mb-5">
        <div th:each="product : ${page.getContent()}" class="card mr-2" style="width: 18rem;">
            <img th:src="@{${product.imageLink}}" class="card-img-top" alt="product image">
            <div class="card-body">
                <h5 th:text="${product.title}" class="card-title">Product title</h5>
                <p th:text="'Цена: ' + ${product.price} + ' руб.'" class="card-text">Price</p>
                <div class="row justify-content">
                    <a href="#" th:href="@{product/form(id=${product.id})}" class="btn btn-primary">Редактировать</a>
                    <a sec:authorize="hasRole('ADMIN')" href="#" th:href="@{product/delete(id=${product.id})}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content" >
        <a href="#" th:href="@{product/form}" class="btn btn-primary" >Добавить продукт</a>
    </div>

    <p>Навигация</p>
    <ol>
        <li><a href="category/list" th:href="@{/category/list}">Категории продуктов</a></li>
    </ol>

    <ul class="row">
        <tr th:if="${page.totalPages > 1}" class="pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/product(pageNum=${pageNumber})}"
               th:text="${'-' + pageNumber}"
               th:class="${pageNumber==page.number} ? active"></a>
        </tr>
    </ul>

    <div th:replace="~{fragments/footer::footer}">
        Footer
    </div>
</div>
<!-- Required js scripts for BootStrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>